:root {
  --white: #fff;
  --gray: #2f303a;
  --black: #212121;
  --lgray: #757575;
  --blue: #2196f3;
}
body {
  background-color: var(--white);
  color: var(--black);
  font-family: "roboto", sans-serif;
}
.menu-container {
  background-color: var(--white);
  width: 1600px;
  height: 80px;
}
.inline {
  display: inline-flex;
}

.list ul {
  list-style: none;
}

.logo-blue {
  font-family: "raleway", sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: var(--blue);
}
.logo-black {
  font-family: "raleway", sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: #000;
}
.logo-white {
  font-family: "raleway", sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: var(--white);
}
.bg {
  background-color: var(--gray);
  width: 1600px;
  height: 600px;
}
.main-text {
  color: var(--white);
  width: 696px;
  height: 120px;
  padding-top: 200px;
  padding-left: 452px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
}
.btn {
  color: inherit;
  background-color: var(--blue);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}
.btn-p {
}
.team-bg {
  background-color: #f5f4fa;
  width: 1600px;
  height: 648px;
}
.caption {
  color: var(--black);
}
.caption-gray {
  color: var(--lgray);
}
.footer {
  background-color: var(--gray);
  width: 1600px;
  height: 252px;
}
.active-page {
  color: var(--blue);
}

/* Powtarzam. W zd2 musicie dac tylko color, text-decoration, font-weight,
font-style, line-height, letter-spacing oraz font-size.
Wszystkie button maja jednakowy padding.
Nigdy nie dajemy width oraz height na buttony.
Padding dotyczy box model (modul 3, nastepny tydzien)*/
